//COLORS
$primary-color: #C54E4E;
$secondary-color: #BEC3F7;

$black: #171717;
$white: #F7F7F7;

//FONTS
$primary-font : 'Majesti Banner', 'serif';
$secondary-font : 'Avenir','sans-serif';
$font-size-base : 16px;

//SPACING
$margin:15rem;
$section-space:5rem;
$gutters:10rem;