.body {
  height: 100vh;
}

.contact {
  &_content-wrapper {
    position: relative;
  }

  main {
    font-family: $primary-font-light;
    color: $secondary-color;
    // padding: 15rem 10rem;
    // margin: 25vh 10vw 0 10vw;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    margin: 0 200px 0 250px;

    p {
      font-size: 3rem;
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
    }
    h1 {
      color: $primary-color;
      // font-family: $primary-font;
      font-size: 7rem;
      // font-size: 7vw;
      margin-bottom: 70px;
    }

    h2 {
      font-size: 2.1rem;
      max-width: 50%;
      margin-bottom: 30px;
    }

    // img {
    //   z-index: 0;
    //   position: absolute;
    //   // top:200px;
    //   // right: 150px;
    //   filter: grayscale(20%);
    //   position: absolute;
    // top: -25px;
    // right: 0;
    // height: 350px;
    // }

    ul {
      li {
        font-family: $secondary-font;
        display: inline;
        margin-right: 15px;
        color: $primary-color;
        opacity: 0.8;
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 1800px) {
  .contact {
    main {
      margin: 0 100px 0 150px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .contact {
    main {
      margin: 0 100px;
      h1 {
        font-size: 5rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .contact {
    main {
      margin: 0 70px;
      h1 {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .contact {
    main {
      p {
        font-size: 2.3rem;
      }
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 2.3rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .contact {
    main {
      p {
        font-size: 1.5rem;
      }
      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.5rem;
      }
      ul {
        li {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .contact {
    main {
      p {
        font-size: 1.2rem;
      }
      h1 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1.2rem;
      }
      ul {
        li {
          font-size: 0.8rem;
        }
      }
    }
  }
}
