.slide {
  width: 100vw;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw; //value is equal to total width of the content
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.one {
  // background-color: rgb(197, 35, 35);
}
.two {
  // background-color: rgb(79, 43, 207);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.three {
  // background-color: rgb(29, 170, 71);
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  // margin-top: 70px;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: $black;
  z-index: -1;
}
::-webkit-scrollbar {
  display: none;
}

nav {
  z-index: 10;
  margin-top: 2rem;
  position: fixed;
  top: 0;
  width: 100%;

  img {
    margin-left: 10rem;
    position: absolute;
    left: 0;
  }

  ul {
    color: white;
    list-style: none;
    display: inline;
    margin-right: 10rem;
    position: absolute;
    right: 0;
  }

  ul li {
    display: inline;
    margin-right: 5rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.2rem;
    opacity: 0.7;

    a {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

html {
  background-color: $black;
}

.one {
  display: flex;
  justify-content: center;
  flex-direction: column;

  
  .title-wrapper {


    .title {
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      position: relative;

      h1 {
        position: relative;
        text-align: center;
        right: 2rem;
      }

      .hero_img {
        position: absolute;
      }
    }
  }

  h1 {
    color: $primary-color;
    font-family: "Majesti-Banner-Medium", "serif";
    text-transform: uppercase;
    font-weight: 200;
    font-size: 60px;

    &:before {
      // content: url("../assets/img/logo-medium.png");
      position: absolute;
      top: -6rem;
      right: 9.5rem;
      z-index: -1;
      height: 50%;
    }
  }

  h2 {
    font-size: 25px;
    font-family: $primary-font-light;
    color: $secondary-color;
    position: relative;
    right: 75px;
  }

  .work_link {
    font-family: $secondary-font;
    font-size: 1.2rem;
    text-decoration: none;
    color: $primary-color;
    display: block;
    text-align: center;

    &:after {
      content: url("/assets/img/icon/icon_arrow.png");
      position: relative;
      left: 10px;
      top: 2px;
    }
  }

  .github_link {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    .github_img {
      // position: absolute;
      // left: 95vw;
      // bottom: 70px;
    }
  }
  
}

.work {
  margin-left: 10rem;

  &_type-list {
    margin-top: 8rem;
    color: $secondary-color;
    text-transform: uppercase;

    margin-bottom: 4rem;
    position: sticky;

    li {
      display: inline-block;
      margin-right: 5rem;
      // margin-bottom: 2rem;
      font-size: 1.2rem;
      opacity: 0.5;
    }

    .active {
      opacity: 1;
    }
  }

  .projects {
    display: flex;
    // margin-top: 250px;
    position: relative;
    // flex-direction: row;

    .project-wrapper {
      margin-right: 20rem;
      position: relative;
      h1 {
        color: $primary-color;
        font-family: $primary-font-light;
        font-size: 3rem;
        line-height: 3.3rem;
        text-transform: uppercase;
        position: absolute;
        top: 4rem;
        left: -6rem;

        display: block;
        max-width: 320px;
      }

      img {
        max-height: 300px;
      }

      ul {
        color: $secondary-color;
        text-transform: uppercase;
        position: relative;
        // left: 5rem;
        bottom: 0.8rem;

        display: flex;
        justify-content: space-evenly;

        li {
          display: inline-block;
          font-size: 1.2rem;
          // margin-right: 5rem;
        }
      }
    }

    .ctv {
    }
  }
}

.work-nav {
  margin-left: 10rem;
  position: absolute;
  top: 100px;
  // position: sticky;
  // left: 1200px;
  z-index: 1;

  &_type-list {
    margin-top: 8rem;
    color: $secondary-color;
    text-transform: uppercase;

    margin-bottom: 4rem;

    // position: sticky;
    display: block;

    li {
      display: inline-block;
      margin-right: 5rem;
      // margin-bottom: 2rem;
      font-size: 1.2rem;
      opacity: 0.5;
    }

    .active {
      opacity: 1;
    }
  }
}

// @media (max-width: 888px) {
//   .outer-wrapper {
//     height: 100vh !important;
//   }

//   .wrapper{
//     width: (400vw + (100vh - 100vw)) !important;
//   }
// }
