.slide {
  width: 100vw;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw; //value is equal to total width of the content
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.one {
  // background-color: rgb(197, 35, 35);
}
.two {
  // background-color: rgb(79, 43, 207);
}
.three {
  // background-color: rgb(29, 170, 71);
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);

  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}


body {
  background-color: $black;

  nav {
    // display: flex;
    // justify-content: space-between;
    margin-top: 2rem;
    // position: relative;
    // position: fixed;

    img {
      margin-left: 10rem;
      position: fixed;
      left: 0;
    }

    ul {
      color: white;
      list-style: none;
      display: inline;
      margin-right: 10rem;
      position: fixed;
      right: 0;
    }

    ul li {
      display: inline;
      margin-right: 5rem;
      text-transform: uppercase;
      font-weight: 200;
      color: $primary-color;
      font-size: 1.2rem;
      opacity: 0.7;
    }


  }
  

  .one  {
  
    .title {
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
    }
  
    h1 {
      color: $primary-color;
      font-family: "Majesti-Banner", "serif";
      text-transform: uppercase;
      font-weight: 200;
      font-size: 80px;
      position: relative;
      text-align: center;
      left: 3rem;
  
      &:before {
        content: url("/assets/img/logo-medium.png");
        position: absolute;
        top: -6rem;
        right: 9.5rem;
        z-index: -1;
        height: 50%;
        
      }
    }
  
    h2 {
      font-size: 35px;
      font-family: $primary-font;
      color: $secondary-color;
    }
  
    a {
      font-family: $secondary-font;
      font-size: 1.2rem;
      text-decoration: none;
      color: $primary-color;
      display: block;
      text-align: center;
  
      &:after {
        content: url("/assets/img/icon/icon_arrow.png");
        position: relative;
        left: 10px;
        top: 2px;
      }
    }
  }
  

  .work {
    &_type-list {
      margin-top: 8rem;
      color: $secondary-color;
      text-transform: uppercase;

      li {
        display: inline-block;
        margin-right: 5rem;
        // margin-bottom: 2rem;
        font-size: 1.2rem;
        opacity: 0.5;
      }

      .active {
        opacity: 1;
      }
    }


    .project-wrapper {
      margin-left:10rem;
      h1 {
        color: $primary-color;
        font-size: 3rem;
        line-height: 3.3rem;
        text-transform: uppercase;
        position: relative;
        top: 14rem;
        right: 8rem;

        display: block;
        max-width: 50px;
      }
      img {
        max-height:300px ;
      }
      ul {
        color: $secondary-color;
        text-transform: uppercase;
        position: relative;
        left:5rem;
        bottom: 0.8rem;
  
        li {
          display: inline-block;
          font-size: 1.2rem;
          margin-right: 5rem;
        }
      }
    }
    
  }

  
}
